body {
  background-color: #000;
  padding: 0;
  margin: auto;
}

#main-container {
  width: 80%;
  margin: auto;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: center;
  height: auto;
  font-family: Gill Sans, Verdana;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  }
}

nav li:hover {
  background-color: #C00;
  margin: 0;
}

#header-container img {
  width: 100%;
  height: auto;
}

.banner {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: justify;
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  }

@media (max-width: 800px) {
  .banner {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .banner {
    font-size: 8px;
    padding: 10px;
  }
}

#meettheband {
  padding: 10px;
  background-color: #000;
}

.nobby img {
  border: #C00 2px solid;
  border-radius: 15%;
}

.dave img {
  border: silver 2px solid;
  border-radius: 15%;
}

.jammy img {
  border: #009BA2 2px solid;
  border-radius: 15%;
}

.dozy img {
  border: #ff0 2px solid;
  border-radius: 15%;
}

#bandmemberinfo-container {
  width: 100% background-color: #fff;
  height: auto;
  margin-top: 15px;
  border: 1px red solid;
}

.bandmemberinfo-img {
  display: inline-block;
  height: 100%;
  width: 34%;
}

.bandmemberinfo-text {
  color: #fff;
  width: 65%;
  display: inline-block;
  vertical-align: top;
  font-family: Arial;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.photo-heading {
  margin: auto;
  width: 100%;
  padding-top: 30px;
}

.gallery {

  padding: 5px;
  color: white;
  text-align: center;
}

figcaption {
  font-size: 12px;
  padding: 10px;
  text-align: justify-all;
  font-family: Arial;
}

.video-cell {
  position: relative;
}

.video-cell img {
  width: 100%;
  border: 4px solid black;
  border-radius: 20px;
}

.video-cell video {
  position: absolute;
  top: 5%;
  bottom: 0%;
  left: 22%;
  right: 0%;
  background-color: #000;
  border: 1px solid black;
  margin: auto;
  max-width: 100%;
}

.heading {
  width: 100%;
  padding-top: 30px;

}

.heading img {
  margin-left: auto;
  margin-right: auto;
}

#getintouch {
  background: url("img/GETINTOUCH-SILVER.jpg");
  height: auto;
  width: 100%;
  padding: 10px;
}

.phone {
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}

.email {
  border: black 1px solid;
  margin: 5px;
  padding: 1px;
}

.socialmedia {
  border: black 1px solid;
  margin: 5px;
  padding: 5px;
}

.forminfo {
  border: black 1px solid;
  margin: 5px;
  padding: 1px;
}

.form {
  color: #fff;
  height: auto;
}

span img {
  margin: 5px;
}

.contact {
  border-right: 2px #000 dashed;
  font-size: 17px;
  margin: 10px;
}

footer {
  border-top: 1px solid #fff;
  margin-top: 50px;
  background-color: #000;
  color: #eee;
  padding: 20px;
  font-family: Arial;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-heading {
  text-decoration: underline;
}

ul.unstyled {
  list-style: none;
  padding: 0;

}