body {
  background-color: #000;
  padding: 0;
  margin: auto;
}

#main-container {
  width: 80%;
  margin: auto;
}

.social-box ul.social-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-box {

  position: fixed;
  top: 164px;
  right: 0;
  padding: 10px;
  width: 40px;
  height: 140px;
  background-color: yellow;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  z-index: 1000;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}

ul.social-buttons li a.facebook_btn {
    
    float: left;
    text-indent: 1000px;
    display: block;
    width: 40px;
    height: 40px;
    background: url("img/facebook.png") 0px 40px;
    background-image: url("img/facebook.png");

  }

  ul.social-buttons li a.twitter_btn {
    margin: 10px 0;
    float: left;
    text-indent: 1000px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/site/twitter_icon.png) 0px 40px transparent;
    background-image: url(../images/site/twitter_icon.png);
    background-position-x: 0px;
    background-position-y: 40px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
}

ul.social-buttons li a.youtube_btn {
    float: left;
    text-indent: 1000px;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/site/youtube_icon.png) 0px 40px transparent;
    background-image: url(../images/site/youtube_icon.png);
    background-position-x: 0px;
    background-position-y: 40px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
}



.navbar {
  background-color: #000;
  justify-content: center;
  height: auto;
  font-family: Gill Sans, Verdana;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
}

nav li:hover {
  background-color: #0000B2;
  margin: 0;
}

#header-container img {
  width: 100%;
  height: auto;
}

.banner {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: justify;
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  }

@media (max-width: 992px) {
  .banner {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .banner {
    font-size: 8px;
 
  }

  .navbar-header {
    margin-right: auto;
  }
}

.col-xs-3:hover {
    position:relative;
    width:250px;
    height:auto;
    display:block;
    z-index:999;
}

#nobby img {
  border: #C00 2px solid;
  border-radius: 15%;
}

#dave img {
  border: silver 2px solid;
  border-radius: 15%;
}

#jammy img {
  border: #009BA2 2px solid;
  border-radius: 15%;
}

#dozy img {
  border: #ff0 2px solid;
  border-radius: 15%;
}

#bandmemberinfo-container img {
  max-width: 350px;
  float: left;
  margin: 5px;

}

#nobby-info {
  border: red 2px solid;
  width: 100%;
  background-color: black;
  height: auto;
  margin-top: 10px;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 5px;
}

#dave-info {
  border: silver 2px solid;
  width: 100%;
  background-color: black;
  height: auto;
  margin-top: 10px;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 5px;
}

#jammy-info {
  border: #3A757C 2px solid;
  width: 100%;
  background-color: black;
  height: auto;
  margin-top: 10px;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 5px;
}

#dozy-info {
  border: yellow 2px solid;
  width: 100%;
  background-color: black;
  height: auto;
  margin-top: 10px;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 5px;
}

.gallery {

  padding: 5px;
  color: white;
  text-align: center;
}

figcaption {
  font-size: 12px;
  padding: 10px;
  text-align: justify-all;
  font-family: Arial;
}

.video-cell {
  position: relative;
}

.video-cell img {
  width: 100%;
  border: 4px solid black;
  border-radius: 20px;
}

.video-cell video {
  position: absolute;
  top: 5%;
  bottom: 0%;
  left: 22%;
  right: 0%;
  background-color: #000;
  border: 1px solid black;
  margin: auto;
  max-width: 100%;
}

.heading {
  width: 100%;
  padding-top: 30px;
  text-align: center;

}

.heading img {
  margin-left: auto;
  margin-right: auto;
}

span img {
  margin: 5px;
}

.contact {
  border-right: 2px #000 dashed;
  font-size: 17px;
  margin: 10px;
}

footer {
  border-top: 1px solid #fff;
  margin-top: 50px;
  background-color: #000;
  color: #eee;
  padding: 20px;
  font-family: Arial;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copyright {
  font-size: 12px;
}

.footer-heading {
  text-decoration: underline;
}

ul.unstyled {
  list-style: none;
  padding: 0;

}